*{
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    padding: 0;
}

/* Header Styling Start */

#header {
    color: #ffffff;
    background: #f45d32;
}
#logo a{
    text-decoration: none;
    color: #fff;
    font-size: 35px;
    /* margin-top: 2px; */
}
#menu{
    list-style: none;
    margin: 0;
    padding: 0px;
    float: right;
}

#menu li{
    display: inline-block;
}
#menu li a{
    color: white;
    font-size: 24px;
    padding: 8px 8px;
    text-decoration: none;
    display: block;
}
#menu li a:hover{
    background: #c72d02;
}
#banner{
    background: url(../image/AceS@ck-01.jpg) no-repeat 0 0;
    background-size: cover;
    height: 100vh;
    width: 100%;
    margin-bottom: 20px;
}
.banner-title{
    padding-top: 3rem;
}
.banner-title h1{
    background: rgba(255, 255, 255, 0.8);
    display: inline-block;
    padding: 10px;
    margin: 0;
}
/* Header Styling End */


/* Some Extra Styling Start  */
.some{
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}
.some h1{
    text-align: center;
    font-size: 40px;
    padding: 10px;
    font-weight: 500;
}
.container-123 {
    position: relative;
    float: left;
    margin-left: 0px;
}
  
.image {
    display: block;
    width: 100%;
    height: 100%;
}
  
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color:  #ff9647;
}
  
.container-123:hover .overlay {
    opacity: 1;
}
.overlay a{
    text-decoration: none;
}
  
.button {
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: transparent;
    padding: 5px;
    font-size: 15px;
    position: absolute;
    top: 70%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 5px;
    border: 2px solid #f45d32;
    text-align: center;
} 
.button:hover{
    color: #fff;
    background-color:#c72d02;
    transition: 0.3s;
}
.text{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 20px;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

/* Some Extra Styling End */


/* Sell Styling Start */

.some-1{
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 1px;
    height: 100%;
}
.some-1 h2{
    background: #f45d32;
    color: #fff;
    font-size: 24px;
    padding: 10px;
    height: 40px;
}   
.product-top{
    width: 100%;
    margin: 10px 10px 20px 10px;
}
img{
    width: 100%;
}
.product-bottom .fa{
    color: #28a745;
    font-size: 10px;
}
.product-bottom h3 {
    font-size: 20px;
    font-weight: bold;
}
.product-bottom h5{
    font-size: 15px;
    padding-bottom: 1px;
}

.main1{
    width: 100%;
    /* margin-left: 100px;
    padding: 0; */
}
.sell{
    width: 100%;
    margin-left: 35px;
}

.box1{
    border: 2px solid #f45d32;
    height: 250px;
    position: relative;
    overflow: hidden;
    float: left;
    margin: 10px;
}
.box1 img{
    width: 100%;
    height: 100%;
    /* margin: 2%; */
}
.content1{
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 5px;
    box-sizing: border-box;
    transition: all 0.7s;
    overflow: hidden;
}
.box1:hover .content1{
    top: 0;
}
.content1 h3{
    font-size: 15px;
    text-align: center;
    border-bottom: 1px solid #f45d32;
    text-transform: uppercase;
    padding: 0px;
}
.content1 p {
    letter-spacing: 0;
    font-size: 11px; 
    font-family: sans-serif;
    border-bottom: 1px solid #f45d32;
    letter-spacing: 0.5px;
} 

/* Sell Styling End */


/* Contact Styling Start */

.center{
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 50px 100px 0 400px;
}

.box{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.box .icon{
    min-height: 40px;
    height: 40px;
    background: #fff;
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 50%;
    font-size: 30px;
    padding: 6px;
}
.box .text-1{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #000;
    flex-direction: column;
    font-weight: 300;
}
.box .text-1 h3{
    font-weight: 500;
    color: #00bcd4;
}


/* HighLight Part Styling Start */

.mySlides img {
    vertical-align: middle;
    width: 100%;
  }
  
  .show {
    position: relative;
    width: 40%;
    height: 50%;
    margin: 0px;
  }
  
  .mySlides {
    display: none;
  }
  
  .cursor {
    cursor: pointer;
  }
  
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: #f45d32;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover,
  .next:hover {
    background-color: #ff7048;
  }
  
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
   
  .box2{
      width: 100%;
  }
  .info{
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      margin: 50px;
  }
  .info h1{
      font-size: 35px;
      font-weight: 400;
  }
  .info p{
      font-size: 20px;
      margin-top: 30px;
  }
  .info h3{
      font-size: 25px;
      color: #f45d32;
  }

/* HighLight Part Styling End */



/* Footer Styling Start */
#footer-sidebar{
    color: #fff;
    background: #f45d32;
    padding: 20px 0;
}
.footer-widget h4::after{
    content: "";
    background: #fff;
    display: block;
    width: 50px;
    height: 2px;
    margin: 5px 0;
}
.footer-widget a{
    color: #fff;
    font-size: 12px;
    text-decoration: none;
}
.footer-widget h4{
    font-size: 15px;
}
.footer-widget p{
    font-size: 12px;
}
.latest-news{
    list-style: none;
    margin: 0;
    padding: 0;
}
.latest-news li{
    margin-bottom: 2px;
}

#footer{
    color: #fff;
    background: #f45d32;
    padding: 5px;
    text-align: right;
}
#footer .size{
    font-size: 15px;
    font-weight: 100;
}
#social-icons{
    list-style: none;
    text-align: left;
    color: #fff;
    margin: 0;
    padding: 0;
}
#social-icons li{
    display: inline-block; 
    padding-left: 5px;
}
#social-icons li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}
/* Footer Styling End */



@media(max-width: 992px){
    .news-post{
        margin-bottom: 30px;
    }
}

@media (max-width: 768px){
    .some{
        width: 100%;
        padding: 10px;
    }
    #logo{
        text-align: center;
        margin: 10px 0;
    }
    #menu{
        text-align: center;
    }
    .banner-title{
        padding-top: 0;
    }
    .banner-title h1{
        font-size: 1.7rem;
    }
    .footer-widget{
        margin-bottom: 20px;
    }
    #footer{
        text-align: center;
    }
    #social-icons{
        margin-top: 10px;
    }
    .sell{
        margin-left: -12px;
        align-items: center;
    }
}

@media (max-width: 600px){
    .sell{
        width: 100%;
        margin-left: -10px;
        padding: 10px;
    }

}

@media (max-width: 768px){
    .center {
        padding: 25px 50px 0 200px;
    }
    #menu li a{
        text-align: center;
        margin-top: 7px;
    }
}

@media (min-width: 425px){
    .center {
        padding: 15px 25px 0 60px;
    }
    .box1{
        height: 450px;
        width: auto;
    }
    .content1 h3{
        font-size: 16px;
    }
    .content1 p{
        font-size: 14px;
    }
    #menu li a{
    margin-left: 64px;
    }
}

@media (min-width: 360px){
    .center {
        padding: 15px 25px 0 40px;
    }
    .box1{
        height: 400px;
        width: auto;
    }
    .content1 h3{
        font-size: 16px;
    }
    .content1 p{
        font-size: 14px;
    }
    .text{
        text-align: center;
        font-size: 35px;
        padding: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        
    }
    .container-123{
        height: 400px;
    }
    #menu li a{
        text-align: center;
        margin-right: 32px;
    }
}
@media (min-width: 320px){
    #menu li a{
        text-align: center;
        margin-right: 18px;
    }
}


