*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace sans-serif;
    scroll-behavior: smooth;
    font-weight: normal;
    transition: all .3s cubic-bezier(.16,.8,.62,1.52);
    text-decoration: none;
    outline: none;
    border:none;
}

.scrollToTop-btn{
    z-index: 999;
    position: fixed;
    background: #f45d32;
    color: #fff;
    width: 45px;
    height: 45px;
    right: 0;
    bottom: 10px;
    font-size: 22px;
    text-align: center;
    line-height: 45px;
    border-radius: 3px;
    cursor: pointer;
    pointer-events: none;
    opacity: 0;
    transition: all 0.3s ease;
}
  
.scrollToTop-btn.active{
    right: 20px;
    opacity: 1;
    pointer-events: auto;
}
  
header{
    z-index: 999;
    position: fixed;
    background: #ff974752;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s ease;
}
  
header.sticky{
    background: #f45d32;
    padding: 10px 170px;
}
  
header .brand{
    float: left;
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    text-decoration: none;
}
header .tag-line{
    color: #fff;
    font-size: 14px;
}
header .navigation{
    position: relative;
}
  
header .navigation a{
    color: #fff;
    font-size: 16px;
    font-weight: normal;
    text-decoration: none;
    margin-left: 25px;
}

header .navigation a:hover{
    color: #f45d32;
}
  
header.sticky .navigation a:hover{
    color: #fff;
}


*::selection{
    background: #f45d32;
    color:#fff;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    overflow-x: hidden;
}

html::-webkit-scrollbar{
    width: 8px;
    border-radius: 10%;
}

html::-webkit-scrollbar-track{
    background:#000;
}

html::-webkit-scrollbar-thumb{
    background: #e62429;
}

section{
    min-height: 100vh;
    padding: 0 7%;
    padding-top: 100px;
}

.home{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background: url(/image/glow.png) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin-bottom: 20px;
}

.home .image{
    flex: 1 1 640px;
}

.home .image img{
    width: 100%;
}

.home .content{
    flex:1 1 40rem;
    padding: 64px 0;
}

.home .content h3{
    color: #f45d32;
    font-size: 35px;
    padding-bottom: 1rem;
}

/* Header Styling End */


/* Some Extra Styling Start  */
.some{
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}
.some h1{
    text-align: center;
    font-size: 40px;
    padding: 10px;
    font-weight: 500;
}
.container-123 {
    position: relative;
    float: left;
    margin-left: 0px;
}
  
.image {
    display: block;
    width: 100%;
    height: 100%;
}
  
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color:  #ff9647;
}
  
.container-123:hover .overlay {
    opacity: 1;
}
.overlay a{
    text-decoration: none;
}
  
.button {
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: transparent;
    padding: 5px;
    font-size: 15px;
    position: absolute;
    top: 70%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 5px;
    border: 2px solid #f45d32;
    text-align: center;
} 
.button:hover{
    color: #fff;
    background-color:#c72d02;
    transition: 0.3s;
}
.text{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 20px;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

/* Some Extra Styling End */


/* Sell Styling Start */

.some-1{
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 1px;
    height: 100%;
}
.some-1 h2{
    background: #f45d32;
    color: #fff;
    font-size: 20px;
    padding: 8px;
    height: 40px;
}   
.product-top{
    width: 100%;
    margin: 10px 10px 20px 10px;
}
img{
    width: 100%;
}
.product-bottom .fa{
    color: #28a745;
    font-size: 10px;
}
.product-bottom h3 {
    font-size: 20px;
    font-weight: bold;
}
.product-bottom h5{
    font-size: 15px;
    padding-bottom: 1px;
}

.main1{
    width: 100%;
    /* margin-left: 100px;
    padding: 0; */
}
.sell{
    width: 100%;
    margin-left: 35px;
}

.box1{
    border: 2px solid #f45d32;
    height: 250px;
    position: relative;
    overflow: hidden;
    float: left;
    margin: 10px;
}
.box1 img{
    width: 100%;
    height: 100%;
    /* margin: 2%; */
}
.content1{
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 5px;
    box-sizing: border-box;
    transition: all 0.7s;
    overflow: hidden;
}
.box1:hover .content1{
    top: 0;
}
.content1 h3{
    font-size: 15px;
    text-align: center;
    border-bottom: 1px solid #f45d32;
    text-transform: uppercase;
    padding: 0px;
}
.content1 p {
    letter-spacing: 0;
    font-size: 11px; 
    font-family: sans-serif;
    border-bottom: 1px solid #f45d32;
    letter-spacing: 0.5px;
} 

/* Sell Styling End */


/* Contact Styling Start */

.center{
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 100px 100px 0 400px;
}

.box{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.box .icon{
    min-height: 40px;
    height: 40px;
    background: #fff;
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 50%;
    font-size: 30px;
    padding: 6px;
}
.box .text-1{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #000;
    flex-direction: column;
    font-weight: 300;
}
.box .text-1 h3{
    font-weight: 500;
    color: #f45d32;
}


/* HighLight Part Styling Start */

/* .mySlides img {
    vertical-align: middle;
    width: 100%;
  }
  
  .show {
    position: relative;
    width: 40%;
    height: 50%;
    margin: 0px;
  }
  
  .mySlides {
    display: none;
  }
  
  .cursor {
    cursor: pointer;
  }
  
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: #f45d32;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover,
  .next:hover {
    background-color: #ff7048;
  }
  
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
   
  .box2{
      width: 100%;
  }
  .info{
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      margin: 50px;
  }
  .info h1{
      font-size: 35px;
      font-weight: 400;
  }
  .info p{
      font-size: 20px;
      margin-top: 30px;
  }
  .info h3{
      font-size: 25px;
      color: #f45d32;
  } */

/* HighLight Part Styling End */



/* Footer Styling Start */
#footer-sidebar{
    color: #fff;
    background: #f45d32;
    padding: 20px 0;
}
.footer-widget h4::after{
    content: "";
    background: #fff;
    display: block;
    width: 50px;
    height: 2px;
    margin: 5px 0;
}
.footer-widget a{
    color: #fff;
    font-size: 12px;
    text-decoration: none;
}
.footer-widget h4{
    font-size: 15px;
}
.footer-widget p{
    font-size: 12px;
}
.latest-news{
    list-style: none;
    margin: 0;
    padding: 0;
}
.latest-news li{
    margin-bottom: 2px;
}

#footer{
    color: #fff;
    background: #f45d32;
    padding: 5px;
    text-align: right;
}
#footer .size{
    font-size: 15px;
    font-weight: 100;
}
#social-icons{
    list-style: none;
    text-align: left;
    color: #fff;
    margin: 0;
    padding: 0;
}
#social-icons li{
    display: inline-block; 
    padding-left: 5px;
}
#social-icons li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}
/* Footer Styling End */



@media(max-width: 991px){
    .news-post{
        margin-bottom: 30px;
    }
    html{
            font-size: 55%;
    }
    .center{
        padding: 100px 100px 100px 250px;
    }
    .box1{
        height: 300px;
        width: 30%;
    }
    .sell{
        width: 100%;
        margin-left: -0px;
        padding: 10px;
    }
}

@media (max-width: 768px){
    .some{
        width: 100%;
        padding: 10px;
    }
    #logo{
        text-align: center;
        margin: 10px 0;
    }
    #menu{
        text-align: center;
    }
    .banner-title{
        padding-top: 0;
    }
    .banner-title h1{
        font-size: 1.7rem;
    }
    .footer-widget{
        margin-bottom: 20px;
    }
    #footer{
        text-align: center;
    }
    #social-icons{
        margin-top: 10px;
    }
    .center {
        padding: 75px 50px 0 200px;
    }
    .box1{
        height: 250px;
        width: 40%;
        justify-content: center;
    }
    .sell{
        width: 100%;
        margin-left: 27px;
        padding: 10px;
    }
}


@media (max-width: 600px){
    .sell{
        width: 100%;
        margin-left: -10px;
        padding: 10px;
    }
    #menu li a{
        display: inline-block;
        text-align: center;
        margin-left: 7px;
    }
    .box1{
        height: 300px;
        width: 46%;
    }

}


@media (max-width: 400px){
    .center {
        padding: 75px 25px 0 60px;
    }
    .box1{
        height: 450px;
        width: 80%;
    }
    .content1 h3{
        font-size: 16px;
    }
    .content1 p{
        font-size: 14px;
    }
}
@media (max-width: 460px){
    .center{
        padding: 75px 25px 0 60px;
    }
    .box1{
        height: 300px;
        width: 45%;
    }
}

@media (max-width: 360px){
    .center {
        padding: 85px 25px 0 40px;
    }
    .box1{
        height: 400px;
        width: 100%;
    }
    .content1 h3{
        font-size: 16px;
    }
    .content1 p{
        font-size: 14px;
    }
    .text{
        text-align: center;
        font-size: 35px;
        padding: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        
    }
    .container-123{
        height: 400px;
    }
}



















@media (max-width: 1040px){
    header{
      padding: 12px 20px;
    }
  
    header.sticky{
      padding: 10px 20px;
    }
  
    header .navigation{
      display: none;
    }
  
    header .navigation.active{
      z-index: 888;
      position: fixed;
      background: #f45d32;
      top: 0;
      right: 0;
      width: 380px;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
      transition: 0.3s ease;
    }
  
    header .navigation a{
      color: #fff;
      font-size: 20px;
      font-family: 'Courier New', Courier, monospace;
      margin: 10px;
      padding: 0 20px;
      border-radius: 20px;
    }
  
    header .navigation a:hover{
      background: rgba(233, 0, 19, 0.867);
      color: #000;
      transition: 0.2s ease;
    }
  
    .menu-btn{
      position: absolute;
      background: url(/image/menu.png)no-repeat;
      background-size: 30px;
      background-position: center;
      width: 25px;
      height: 25px;
      right: 0;
      margin: 0 20px;
      cursor: pointer;
      transition: 0.3s ease;
    }
  
    .menu-btn.active{
      z-index: 999;
      background: url(/image/PngItem_4856652.png)no-repeat;
      background-size: 20px;
      background-position: center;
      transition: 0.3s ease;
      filter: invert(-1);
    }
}

